doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Socket.IO Paint
    link(rel="stylesheet", href="styles.css", attr)
  body
    - const colors = ['#FFA712', '#FF6347', '#E00097', '#8426BE', '#0069ff', '#00FA9A', '#888888', '#000000'];
    .toolsContainer
      #buttonContainer.buttonContainer
        each color in colors
          button(data-color='' + color)
      
      select(id='selector')
        each val in [1, 2, 3, 4, 5]
          option(value="" + val)= val
      button(id='clear' class='clear') Clear
    canvas(id='canvas')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js')
    script(src='/app.js')
