body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0
}

canvas {
  background: #eee;
}

.toolsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

button, select {
  height: 50px;
  width: 50px;
  border: 0;
}

select {
  font-size: 18px;
  background-color: white;
  color: #333;
  margin-left: 50px;
  outline: none;
}

.clear {
  width: 100px;
  border-radius: 8px;
  font-size: 18px;
  font-family: sans-serif;
  outline: none;
  background-color: white;
  margin-left: 10px;
}

[data-color='#FFA712'] {
  background-color: #FFA712
}
[data-color='#FF6347'] {
  background-color: #FF6347
}
[data-color='#E00097'] {
  background-color: #E00097;
}
[data-color='#8426BE'] {
  background-color: #8426BE;
}
[data-color='#0069ff'] {
  background-color: #0069ff;
}
[data-color='#00FA9A'] {
  background-color: #00FA9A
}
[data-color='#888888'] {
  background-color: #888
}
[data-color='#000000'] {
  background-color: #000
}
