body {
  background: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0
}

button, select {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border: 0;
}

select {
  left: 460px;
  font-size: 18px;
  background-color: white;
  color: #333;
  padding-left: 10px;
  outline: none;
}

.clear {
  left: 515px;
  width: 100px;
  border-radius: 8px;
  font-size: 18px;
  font-family: sans-serif;
  outline: none;
  background-color: white;

}

canvas {
  background: #eee;
}

[data-name='orange'] {
  background-color: #FFA712
}
[data-name='tomato'] {
  left: 55px;
  background-color: tomato
}
[data-name='pink'] {
  left: 110px;
  background-color: #E00097;
}
[data-name='purple'] {
  left: 165px;
  background-color: #8426BE;
}
[data-name='blue'] {
  left: 220px;
  background-color: #0069ff;
}
[data-name='green'] {
  left: 275px;
  background-color: #00FA9A
}
[data-name='grey'] {
  left: 330px;
  background-color: #888
}
[data-name='black'] {
  left: 385px;
  background-color: black
}
